@using PDFIndexer.CommomModels;
@using System.IO;

@model List<SampleObject>


@{
    ViewData["Title"] = "PDF Search";

    var type = (string)TempData["_alert.type"];
    var title = (string)TempData["_alert.title"];
    var body = (string)TempData["_alert.body"];

}



<head>
    <style>
        div.stretchy-wrapper > div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .highlight {
            opacity: 0.5;
            filter: alpha(opacity=30);
            background-color: yellow;
        }
    </style>
</head>




@if (!string.IsNullOrEmpty(type))
{
    <div class="alert alert-@type alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>@title</strong> @body
    </div>
}

<br />
<br />


<form class="form-wrapper cf" asp-action="Index" asp-controller="Home" method="post" role="form">
    <div class="form-group">
        <input id="text" name="text" type="text" placeholder="Search here..." required style="color: black">
        <button type="submit">Search</button>
    </div>
</form>


<br />
<br />


@if (Model != null)
{
    foreach (var item in Model)
    {
        <br />
        <div class="col-md-12">
            <div>@System.IO.Path.GetFileNameWithoutExtension(item.Metadata.PDFURI)</div>
            <br />
            <br />
            <div style="border: #286090 solid 2px;">
                <div class="stretchy-wrapper" style="padding-bottom: 20%;">
                    <div class="resultDescription" style="border: solid; border-width: 0px; background-image:url('@item.ImageUri'); background-size:100%; background-position-y:@item.HighlightObject.HighlightedWords[0].X.ToString().Replace(",",".")%; overflow: hidden;">
                        <div class="highlight" style="position: absolute; width: @item.HighlightObject.HighlightedWords[0].Width.ToString().Replace(",",".")%; height: @item.HighlightObject.HighlightedWords[0].Height.ToString().Replace(",",".")%; left: @item.HighlightObject.HighlightedWords[0].X.ToString().Replace(",",".")%; top: @item.HighlightObject.HighlightedWords[0].Y.ToString().Replace(",",".")%;" title="" data-wikipedia=""></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    }
}